* {
    margin: 0;
    padding: 0;
}

span, h1, h2, h3, p, a {
    font-family: 'Fira Code', monospace;
}

.alert {
    margin-left: 10px;
}

.banner {
    margin-left: 10px;
}

.invaders-art {
    margin-top: 10px;
}